.background-clr{
	background-color: #1b1d1f;
	min-height: 100vh;
	width: 100%;
}
.index-banner{
	background-image: url("keyboard-mac-black-and-white-headphones-79702.jpeg");
	height: 100vh;
	position: relative;
}
.scroll-btn{
	position: absolute;
	bottom: 10%;
	left: 50%;
}


/* TYPEWRITER */
.banner-text{
  position: absolute;
  top: 50%;
  left: 25%; 
  width: 20em;
  border-right: 20px solid rgba(255,255,255,.75);
  color: #fff;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 7s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}



